@using Models.ViewModels
@model InstructorVM

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/courseDetails.css" />
        <title>Instructor Details</title>
    </head>
    <body>
        <form method="post">
            <div class="course-header" style="margin-top: 100px;">
                <a asp-action="Index" class="btn btn-outline-primary bg-gradient fw-semibold btn-sm text-uppercase">
                    <small>Back to Instructors</small>
                </a>
            </div>

            <div class="wrapper">
                <div class="course-container">
                    <img class="course-image" src="@Model.Instructor.ImageUrl" />
                    <div class="course-info">
                        <a href="@Model.Instructor.InstagramLink">
                            <img src="~/images/common/instagram_logo.png" style="width: 30px; height: 30px; display: inline-block;"/>
                        </a>
                        <h4 class="course-title" style="display: inline-block;">@Model.Instructor.Name @Model.Instructor.Surname</h4>

                        @foreach (var course in Model.Courses)
                        {
                            <a asp-controller="Course" asp-action="Details" asp-route-courseId="@course.Id" class="btn btn-outline-primary bg-gradient fw-semibold btn-sm text-uppercase">
                                <small>@course.Title</small>
                            </a>
                        }

                        <p class="course-desc">@Html.Raw(@Model.Instructor.Description)</p>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>

