@using Models.ViewModels
@model List<InstructorVM>

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="~/css/instructors.css" />
        <title>Instructors</title>
    </head>
    <body>
        <!--div class="mt-4">
            <div class="card-header bg-dark bg-gradient ml-0 py-3">
                <div class="row">
                    <div class="col-12 text center">
                        <h2 class="text-white py-2 text-center">Our Instructors</h2>
                    </div>
                </div>
            </div>
        </div-->
        <h1 class="header">Our Instructors</h1>

        <div class="container">
            @foreach (var instructor in Model)
            {
                <a asp-area="Public" asp-action="Details" asp-route-instructorId="@instructor.Instructor.Id" class="instructor">
                    <div class="image-wrapper">
                        <img class="image" src="@instructor.Instructor.ImageUrl" />
                    </div>
                    <p class="name">@instructor.Instructor.Name @instructor.Instructor.Surname</p>

                    <div class="courses">
                        @{
                            var separator = "";
                            var uniqueCourseTypes = instructor.Courses.Select(course => course.CourseType.Type).Distinct();
                        }
                        @if (uniqueCourseTypes.Any())
                        {
                            @foreach (var courseType in uniqueCourseTypes)
                            {
                                <span style="color: white;">@separator</span>
                                @courseType
                                separator = " | ";
                            }
                        }
                        else
                        {
                            @:-
                        }
                    </div>
                </a>
            }
        </div>
    </body>
</html>
