@using Models
@model IEnumerable<Course>

<!DOCTYPE html>
<html lang="tr">
    <head>
        <title>Courses</title>
        <link href="~/css/course/cards.css" rel="stylesheet" />
    </head>
    <body>
        <div class="shadow border-0 m-2 m-lg-3 m-md-3">
            <div class="card-header rounded bg-dark bg-gradient ml-0 py-3">
                <div class="row">
                    <div class="col-12 text center">
                        <h2 class="text-white py-2 text-center">Aktif Dersler</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex column-gap-lg-5 column-gap-sm-3 row-gap-5 justify-content-center flex-wrap mt-3">
            @foreach (var course in Model)
            {
                <div class="card border-0 p-3 shadow border-top border-5 rounded">
                    <img src="@course.ImageUrl" class="rounded" />
                    <div class="card-body pb-0">
                        <div>
                            <p class="card-title fw-bold fs-6 text-dark text-center border-bottom pb-2">
                                @course.Title
                            </p>

                            <div class="pl-1">
                                <p class="text-center mb-1">
                                    <span class="badge p-1">
                                        @course.CourseType.Type
                                    </span>
                                </p>
                            </div>
                        </div>

                        <p class="card-title text-warning text-center">
                            <b>@course.Instructor.Name @course.Instructor.Surname</b>
                        </p>
                    </div>
                    <a asp-action="Details" asp-route-courseId="@course.Id" class="btn btn-primary bg-gradient border-0 form-control">
                        Detaylı Bilgi
                    </a>
                </div>
            }
        </div>
    </body>
</html>
