@using Models
@model IEnumerable<Course>

<!DOCTYPE html>
<html lang="tr">
    <head>
        <title>Courses</title>
        <link href="~/css/course/cards.css" rel="stylesheet" />
    </head>
    <body>
        <div class="border-0 mb-5" style="margin: 80px 10px 0 10px; overflow-x: hidden;">
            <div class="card-header rounded bg-black bg-gradient ml-0 py-1">
                <div class="row">
                    <div class="col-12 text center">
                        <h2 class="text-white py-2 text-center">Mevcut Dersler</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="cards-container">
            @foreach (var course in Model)
            {
                <div class="course-card"
                        style="background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('@course.ImageUrl.Replace("\\", "/")')">
                    <p class="badge-wrapper">
                        <span class="badge">
                            @course.CourseType.Type
                        </span>
                    </p>
                    <div>
                        <h1>@course.Title</h1>
                        <p>
                            @course.Instructor.Name @course.Instructor.Surname
                        </p>
                        <a asp-controller="Course" asp-action="Details" asp-route-courseId="@course.Id">
                            Detaylı Bilgi
                        </a>
                    </div>
                </div>
            }
        </div>
    </body>
</html>
